.proyek-dp7 {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .auto-group-yhfy-gXV {
      flex-shrink: 0;
      height: 19.5rem;
      position: relative;
      width: 100%;
  
      .group-90-b8f {
        background-color: #1daa97;
        box-sizing: border-box;
        height: 19.5rem;
        left: 0;
        padding: 5.174rem 3.014rem 6.2rem 3.014rem;
        position: absolute;
        top: 0;
        width: 144rem;
  
        .icon-arrow-back-outline-HGP {
          background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/1aprrSdtQjLkgi6jkt7oP/files/vector/5f8e709f7858fa4b6a1f6108fe9cbe688c436c30b30dde2c912c4dae6730f5a0600b922b0cf4a008f1f9536f5d90a92325579d066ed2375aabdfec5a3c69e475?hash=19e015d1da499885f4af9d22a5d23179b06e02ab672c5d6cfdca09b18740c99f');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          box-sizing: border-box;
          height: 100%;
          margin-right: 127.686rem;
          padding: 1.692rem 1.714rem 1.693rem 1.714rem;
          width: 10.286rem;
  
          .vector-Nod {
            height: 4.7405rem;
            object-fit: contain;
            vertical-align: top;
            width: 6.8574rem;
          }
        }
      }
      .deskripsi-TaB {
        color: #ffffff;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 800;
        height: 6.1rem;
        left: 23.1rem;
        line-height: 1.2125;
        position: absolute;
        top: 6.15rem;
        white-space: nowrap;
        width: 23.6rem;
      }
    }
    .image-4-K6b {
      flex-shrink: 0;
      height: 73.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
    }
    .auto-group-1n6f-FW3 {
      flex-shrink: 0;
      height: 171.8rem;
      position: relative;
      width: 100%;
  
      .satukan-solidaritas-bantu-korban-konflik-di-gaza-Naf {
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 800;
        height: 6.1rem;
        left: 8.2rem;
        line-height: 1.2125;
        position: absolute;
        top: 20.95rem;
        white-space: nowrap;
        width: 122.2rem;
      }
      .cerita-penggalangan-dana-qUF {
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 800;
        height: 6.1rem;
        left: 8.2rem;
        line-height: 1.2125;
        position: absolute;
        top: 56.65rem;
        white-space: nowrap;
        width: 65.7rem;
      }
      .abc1 {
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 800;
        height: 97rem;
        left: 7.6rem;
        line-height: 1.2125;
        position: absolute;
        top: 74.15rem;
        width: 131rem;
  
        .abc2 {
        }
        .abc3 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 5rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .abc4 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 5rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .abc5 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 5rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .auto-group-wzrh-Lmh {
        align-items: center;
        display: flex;
        height: 14.7rem;
        left: 8.2rem;
        position: absolute;
        top: 3.2rem;
        width: 51.8rem;
  
        .ellipse-8-4Bu {
          flex-shrink: 0;
          height: 14.7rem;
          margin-right: 4.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 17.5rem;
        }
        .auto-group-x81h-BXR {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: calc(100% - 3.75rem);
          margin: 2.55rem 0rem 1.2rem 0rem;
  
          .donalink-7AB {
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 5rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.15rem;
            white-space: nowrap;
          }
          .identitas-terverifikasi-qM5 {
            color: #909090;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
      }
      .donasi-tersedia-jhM {
        color: #909090;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 400;
        height: 3.7rem;
        left: 7.6rem;
        line-height: 1.2125;
        position: absolute;
        top: 32.5rem;
        white-space: nowrap;
        width: 22.7rem;
      }
      .okt-2023-2wM {
        color: #909090;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 400;
        height: 3.7rem;
        left: 8.2rem;
        line-height: 1.2125;
        position: absolute;
        top: 64.1rem;
        white-space: nowrap;
        width: 17.9rem;
      }
      .rp1686257152-7T1 {
        color: #1daa97;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 800;
        height: 7.5rem;
        left: 7.6rem;
        line-height: 1.5;
        position: absolute;
        top: 37.65rem;
        white-space: nowrap;
        width: 39.6rem;
      }
      .group-74-1HV {
        background-color: #d9d9d9;
        border-radius: 3rem;
        height: 1.4rem;
        left: 8.2rem;
        position: absolute;
        top: 45.9rem;
        width: 124rem;
  
        .rectangle-24-LKm {
          background-color: #1daa97;
          border-radius: 3rem;
          height: 1.4rem;
          width: 98.8339rem;
        }
      }
      .line-11-rJ7 {
        height: 0;
        left: 0;
        object-fit: contain;
        position: absolute;
        top: 52.8rem;
        vertical-align: top;
        width: 144rem;
      }
    }
    .group-91-PYw {
      align-items: center;
      background-color: #1daa97;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      flex-shrink: 0;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 5rem;
      font-weight: 800;
      height: 19.5rem;
      justify-content: center;
      line-height: 1.5;
      white-space: nowrap;
      width: 100%;
    }
}